{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="split left">
	<h2 align="center">Speak or Enter Text To Be Translated</h2>
	<br>
		<form action="" method="post" align="left">
		{% csrf_token %}
					<input type="text" name="sen" class="mytext" id="speechToText" placeholder="">
					<button type="button" name="button" class="mic" onclick="record()"><i class="fas fa-microphone"></i></button>
		  			&nbsp&nbsp&nbsp&nbsp
		  			<input type="submit" name="submit" class="submit" id="kiki" >
					  <select id="langSelect" style="color: #034a78; background-color: #ffffff;border-style: solid;border-width: 5px; border-radius: 7px;border-color: #2980b9">
						<option value="en-IN">English</option>
						<option value="hi-IN">Hindi</option>
						<option value="te-IN">Telugu</option>
					</select>

		</form>
		<br>
		<table cellspacing="20px">
			<tr>
				<td class="td">The Text that you Entered is:</td>
				<td class="td">{{ text }}</td>
			</tr>
			<tr>
				<td class="td">Main Key Words in sentence:</td>
				<td class="td">
				<ul class="td" id="list" align="center">
  					{% for word in words %}
    				<li id="{{ i }}" style="margin-right: 8px">{{ word }}</li>
  					{% endfor %}
				</ul>
			</td>
		</tr>
	</table></div>
  <div class="split right">
  <h2 align="center">Signs Of Given Text</h2>

	<div style="text-align:center">	&nbsp&nbsp
  	<button class="submit" onclick="playPause()">Play/Pause</button>
  	<video id="videoPlayer" width="600" height="350"  preload="auto" autoplay>
    	<source src="" type="video/mp4">
    Your browser does not support HTML5 video.
  	</video>
  	</div></div>


<script>
	function record(){
		var recognition = new webkitSpeechRecognition();
		recognition.lang=document.getElementById('langSelect').value;
		var translateFrom=recognition.lang;
		var translateTo="en-GB";
		recognition.onresult = function(event){
			let text=event.results[0][0].transcript;
			if(recognition.lang != "en-GB"){
		let apiUrl = `https://api.mymemory.translated.net/get?q=${text}&langpair=${translateFrom}|${translateTo}`;
  fetch(apiUrl)
    .then((res) => res.json())
    .then((data) => {
		document.getElementById('speechToText').value = data.responseData.translatedText;
	});
}
else{
	document.getElementById('speechToText').value =text;
}
			console.log(event);
		}
		recognition.start();
	 }
	function play()
	{
		var videoSource = new Array();
		var	videos = document.getElementById("list").getElementsByTagName("li");
		var j;
		for(j=0;j<videos.length;j++)
		{
			videoSource[j] = "/static/" + videos[j].innerHTML +".mp4";
		}

		var i = 0; 
		var videoCount = videoSource.length;

		function videoPlay(videoNum)
		{
			document.getElementById("list").getElementsByTagName("li")[videoNum].style.color = "#09edc7";
			document.getElementById("list").getElementsByTagName("li")[videoNum].style.fontSize = "xx-large";
			document.getElementById("videoPlayer").setAttribute("src", videoSource[videoNum]);
	    	document.getElementById("videoPlayer").load();
	    	document.getElementById("videoPlayer").play();

		}
		document.getElementById('videoPlayer').addEventListener('ended', myHandler, false);
		document.getElementById("list").getElementsByTagName("li")[0].style.color = "#09edc7";
		document.getElementById("list").getElementsByTagName("li")[0].style.fontSize = "xx-large";

		videoPlay(0); // play the video

		function myHandler()
		{
	 		document.getElementById("list").getElementsByTagName("li")[i].style.color = "#feda6a";
			document.getElementById("list").getElementsByTagName("li")[i].style.fontSize = "20px";
			i++;
	    	if (i == videoCount)
	    	{
	       	    document.getElementById("videoPlayer").pause();
	    	}
	     	else
	     	{
	        	videoPlay(i);
	    	}
		}
	}
		function playPause(){
  		if (document.getElementById("videoPlayer").paused){
    		play();}
  		else{
    		document.getElementById("videoPlayer").pause();}
		}

	</script>


{% endblock %}